.fullstack{
    background: rgba(32,24,65,1) ;
}
.banking{
    background: #02a6c4;
}
.Data{
    background-color: #291735;
}
.Digital{
background-color: #050f30;
}
.PHP{
    background-color: #07c6d3;
}
.Python{
    background-color: #bdcdfc;
}
.Structures{
    background-color: #4bc06c;
}
.MachineLearning{
    background-color: #112035;
}
.Artificial{
    background-color: #000a11;
}
.kid{
    background-color: #1b86b3;
}
.C{
    background-color: #000000;
}
.Cplus{
    background-color:#ffdd30;
}
.WebDesigning{
    background-color: #22cafd;
}
.Corejava{
    background-color: #063845; 
}
.Autocad{
    background-color:#786f6f;
}
