@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-track{
  border-radius: 50px;
}
body::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background: #606060;  /* fallback for old browsers */ 
}